#content-container {
    height: 500px;
    width: 1000px;
}

#chart-filter {
    height: 5%;
    width: 1000px;
    text-align: left;
}

#top-content {
    height: 60%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#bottom-content {
    height: 40%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#movie-list {
    width: 35%;
}

#movie-poster {
    width: 20%
}

#overview-chart {
    width: 40%;
}

.data-viz {
    width: 30%;
}