body {
    background-color: #212529;
}

#page-title {
    color: whitesmoke;
}

.header {
    margin-bottom: 10px;
    text-align: center;
}

#content-container {
    height: 900px;
    width: 1400px;
    
}

#chart-filter {
    height: 5%;
    width: 1400px;
}

#top-content {
    height: 60%;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

#bottom-content {
    height: 40%;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

#movie-list {
    width: 35%;
}

#movie-poster {
    width: 20%;
    text-align: center;
}

#overview-chart {
    width: 40%;
}

.data-viz {
    width: 30%;
}

.card {
    flex-wrap: wrap;
    color: #858788;
    padding: 10px;
    min-height: 300px;
    border-radius: 15px;
    background: #17191c;
    box-shadow: inset -5px -5px 10px #141618, inset 5px 5px 10px #1a1c20;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #2d3035;
    border: 1px solid #2d3035;
    color: #858788;
}