#content-container {
    height: 800px;
    width: 1500px;
}

#chart-filter {
    height: 10%;
    width: 1500px;
    text-align: left;
}

#top-content {
    height: 50%;
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

#bottom-content {
    height: 40%;
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

#movie-list {
    width: 30%;
}

#movie-detail-card {
    width: 20%
}

#overview-chart {
    width: 45%;
}

.data-viz {
    width: 30%;
}