 #movie-list-table {
    width: 450px;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#movie-list-table tbody {
    display: block;
    width: 100%;
    height: 95%;
    overflow: auto;
    font: auto;
}

#movie-list-table thead {
    display: block;
}

#movie-list-table th,
#movie-list-table td {
    padding: 5px;
    width: 20%;
    border: 1px black solid ;
    line-height: 1;
}

#movie-list-table td {
    font-size: 12px;
}

