table {
    border-collapse: collapse;
    font: 14px sans-serif;
}

th {
    font-weight: normal;
    text-align: center;
    min-width: auto;
}

td {
    min-width: 102px;
    text-align: left;
}

thead tr {
    display: block;
}

tbody {
    display:block;
    overflow:auto;
    height:400px;
    width:100%;

}

/* tbody, thead {
    display: block;
}

tbody {
    overflow: scroll;
} */


