.movie-dot {
    stroke: black;
    fill: red;
    opacity: 0.5;
}

.movie-dot:hover {
    /* fill: blue; */
    opacity: 1;
    /* cursor: pointer; */
}

.unbrushed {
    stroke: black;
    fill: grey;
    opacity: 0.5;
}

.tooltip-label {
    fill: white;
    font-size: 12px;
}