.movie-dot {
    stroke: black;
    fill: #858788;
    opacity: 0.8;
}

.movie-dot:hover {
    fill: white;
    opacity: 0.7;
}

#selected-movie {
    stroke: black;
    fill: white;
    opacity: 1;
}

#selected-movie:hover {
    opacity: 1;
}
.unbrushed {
    stroke: black;
    fill: #858788;
    opacity: 0.3;
}

.tooltip-label {
    fill: white;
    font-size: 12px;
}