body {
    background-color: #212529;
}
#content-container {
    height: 1000px;
    width: 1400px;
    
}

/* Top of page styling */

#page-title {
    color: whitesmoke;
}

#header {
    text-align: center;
    height: 10%;
}

#chart-filter {
    height: 5%;
    width: 1400px;
}


#viz-content {
    height: 90%;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

/* 3 main div width styling */
#movie-list {
    width: 35%;
}

#movie-poster {
    width: 20%;
    text-align: center;
}

#chart-content {
    width: 40%;
}

/* 2 chart height styling */
#overview-chart {
    height: calc(50% - 20px);
}

#dot-plot {
    height: calc(50% - 20px);
    z-index: 1;
    position: relative;
}

.chart-viz {
    height: 100%;
    width: 100%;
    margin: auto;
}

/* Button and card styling */
.card {
    flex-wrap: wrap;
    color: #858788;
    padding: 10px;
    border-radius: 15px;
    background: #17191c;
    box-shadow: inset -5px -5px 10px #141618, inset 5px 5px 10px #1a1c20;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #2d3035;
    border: 1px solid #2d3035;
    color: #858788;
}

#selector-x {
    z-index: 2;
    position: absolute;
    top: 410px;
    left: 20px;
}

#selector-y {
    z-index: 2;
    position: absolute;
    top: 380px;
    left: 20px;
}
